---
layout: default
---

            <div class="pa-c-text-passage ">            
                <h1 class="post-title">{{ page.title }}</h1>
                <p class="pa-c-text-passage__intro">{{ page.description }}</p>
            
                {{ content }}
                
            </div>
            <!-- end pa-c-text-passage-->
            <br /><br />
            <p>Click <a href="https://github.com/pacroy/pacroy.github.io/issues/new">here</a> to submit any questions, comments, or suggestions.</p>